/* src/components/Home/Home.css */

.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('tigerhome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
}

.banner-container:has(.gallery){
    background-image: none;
    display:block;
    background-color: blanchedalmond;
    height:inherit;
  }

  .banner-container:has(.whywe){
    align-items: inherit ;
    
}

.banner-container:has(.donor){
    display: inherit ;
}

.banner-container:has(.home){
    flex-direction: column ;
}




@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1550px !important ;
}
}



.mr-auto, .mx-auto {
     margin-right: inherit !important ;
}

.ml-auto, .mx-auto {
     margin-left: inherit !important ;
}

h1{
    color: antiquewhite;
}

footer{
    color: white;
    background-color: black;
}