.custom-datatable {
    background-color: #f5f5f5; /* Set the background color */
  }
  
  .custom-datatable .p-datatable-thead th {
    background-color: #ebebeb; /* Set the header background color */
    color: #333; /* Set the header text color */
    font-family: 'Aoboshi One', serif;
    font-size: 21px;
  }
  
  .custom-datatable .p-datatable-tbody td {
    background-color: #fff; /* Set the body cell background color */
    color: #333; /* Set the body cell text color */
  }
  
  .custom-datatable .p-paginator {
    background-color: #ebebeb; /* Set the paginator background color */
    color: #333; /* Set the paginator text color */
  }
  
  .custom-datatable .p-paginator .p-paginator-current-page-report {
    color: #666;
  }
  