/* src/components/Home/Home.css */

.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('../images/tigerhome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
}

.banner-container:has(.gallery){
    background-image: none;
    display:block;
    background-color: blanchedalmond;
    height:inherit;
  }

  .banner-container:has(.whywe){
    align-items: inherit ;
    display: contents;
    
}

.banner-container:has(.donor){
    display: inherit ;
}
.banner-container:has(.ticketedit){
    flex-direction: column;
}
.banner-container:has(.donate){
    display: grid ;
}

.banner-container:has(.home){
    display: block ;
}
.banner-container:has(.ticketview){
    display: inline-block ;
}



h1{
    color: antiquewhite;
}

footer{
    color: white;
    background-color: black;
}

.titlefont{
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    
  }
  
  .subtt{
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    font-size: 50;
  }

 button{
    background-color: rgb(5, 43, 5) !important;
    color: aliceblue !important;
    border-color: antiquewhite !important;
   
 }

 .tabletitles{

    font-family: 'Playfair Display', serif;
    font-size: 40;
 }

 .tableheaders{
    font-family: 'Aoboshi One', serif;
    font-size: 21px;
 }

 .tablebody{
    font-family: 'Roboto Slab', serif;
  font-size: 18;
 }